<html>
<head>
  <title>Beers</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

    <div id="cabeza">
    <h1>DAS BIER</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li>|</li>
            <li><a href="/brewery/new">Add Brewery</a></li>
        </ul>
    </nav>
    </div>

    <hr>

    <div id="contenedor">
        <%= yield %>
    </div>

</body>
</html>
