<form method="post" action="/brewery/new">
    <div>
        <label>Brewery Name: </label>
        <input type="text" name="brewery[name]" autofocus />
    </div>
    <div>
        <label>City: </label>
        <input type="text" name="brewery[city]" />
    </div>
    <div>
        <label>State: </label>
        <input type="text" name="brewery[state]" />
    </div>
    <input type="submit" value="Enter Brewery" />
</form>
